@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-editor: #1e1e1e;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background: var(--bg-editor);
  color: #d4d4d4;
  font-family: var(--font-jetbrains-mono), monospace;
}

/* Custom Scrollbar for VS Code Feel */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border: 3px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

/* For non-webkit browsers */
* {
  scrollbar-width: thin;
  scrollbar-color: #3d3d3d #1e1e1e;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
